{% extends 'base.html' %}

{% block content %}
<h2>Contato</h2>
<p>Entre em contato comigo através dos seguintes meios:</p>
<ul>
    <li><strong>Nome:</strong> Danilo Matos</li>
    <li><strong>Email:</strong> <a href="mailto:dann17dev@gmail.com">dann17dev@gmail.com</a></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/dann17dev" target="_blank">github.com/dann17dev</a></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/danilomatosoficial/" target="_blank">linkedin.com/in/danilomatosoficial/</a></li>
</ul>

<p>Fico à disposição para responder dúvidas ou discutir oportunidades de colaboração.</p>
{% endblock %}